lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

node_modules
npm-debug.log
.idea/codeStyleSettings.xml
.idea/jsLibraryMappings.xml
.idea/Lab-2012.iml
.idea/misc.xml
.idea/scopes/
.idea/vcs.xml
.idea/workspace.xml