<div class="main">

	<!-- Logo -->
	<div class="wf-box wf-row logo">Namics <h2>Conference</h2></div>

	<!-- About Collapsible -->
	<div class="wf-box wf-row about">Tag Filters</div>

	<!-- Filter Day -->
	<div class="wf-box wf-row filter-day">Filter Day</div>

	<!-- Filter Tag -->
	<div class="wf-box wf-row filter-tag">Filter Day</div>

	<div class="wf-box wf-row talks">Talks</div>

	<!-- Social Buttons -->
	<div class="wf-box wf-row social-buttons">Social buttons</div>

</div>

<!-- Talka -->
<script id="tmpl-talk" type="text/x-handlebars-template">

	<!-- Abstract -->
	<div class="talk-abstract">Abstract</div>

	<!-- Presenters -->
	<div class="talk-presenters">Presenters</div>

	<!-- Details -->
	<div class="talk-details">Details</div>
</script>

<!-- Talk Body -->
<script id="tmpl-talk-body" type="text/x-handlebars-template">

	<!-- Abstract -->
	<div class="Talk-abstract">Abstract</div>
</script>

<!-- Presenters -->
<script id="tmpl-presenters" type="text/x-handlebars-template">

	<!-- Presenters -->
	<div class="talk-presenters">Presenters</div>

	<!-- Details -->
	<div class="talk-details">Details</div>
</script>