<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<title>layout.hbs</title>
	<link type="text/css" rel="stylesheet" href="/css/lab12.css"/>
	<link type="text/css" rel="stylesheet" href="/css/wireframe.css"/>
	<script type="text/javascript" src="/js/lib/dev.js"></script>
	<script type="text/javascript" src="/js/lib/jquery-1.7.2.js"></script>
	<script type="text/javascript" src="/js/lib/underscore.js"></script>
	<script type="text/javascript" src="/js/lib/backbone.js"></script>
	<script type="text/javascript" src="/js/lib/handlebars-1.0.0.beta.6.js"></script>
	<script type="text/javascript" src="/js/lib/bootstrap.js"></script>

	<script type="text/javascript" src="/js/lab12.js"></script>
	<script type="text/javascript" src="/js/talk.js"></script>
</head>
<body>
{{{body}}}
</body>
</html>